{
    "extends": [
      "airbnb",
      "prettier",
      "prettier/react",
      "plugin:flowtype/recommended"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
      "ecmaVersion": 2015,
      "ecmaFeatures": {
          "jsx": true
      }
    },
    "env": {
      "es6": true,
      "node": true,
      "mocha": true
    },
    "rules": {
      "no-console": ["error", {"allow": ["info", "warn", "error"]}],
      "indent": [2, 4, {"SwitchCase": 1}],
      "react/jsx-indent-props": [2, 4],
      "react/jsx-indent": [2, 4],
      "linebreak-style": 0,
      "react/prop-types": 0,
      "react/button-has-type": [0],
      "max-len": [2, 145],
      "import/no-named-as-default": 0,
      "import/no-extraneous-dependencies": [
        "error",
        {
          "devDependencies": [
            "**/*.test.js",
            "**/*.test.jsx",
            "**/*.spec.js",
            "**/*.spec.jsx",
            "**/*.story.js",
            "**/*.story.jsx"
          ]
        }
      ],
      "react/self-closing-comp": ["error", { "component": true, "html": false }],
      "semi": [1, "never"],
      "react/destructuring-assignment": [0, "always"],
      "jsx-a11y/label-has-for": [0],
      "jsx-a11y/click-events-have-key-events": [0],
      "quotes": [1, "single"],
      "jsx-quotes": [1, "prefer-double"],
      "max-lines": [1, 250],
      "jsx-a11y/label-has-associated-control": [ 2, {
        "controlComponents": ["Checkbox"],
        "depth": 3
      }],
      "jest/no-large-snapshots": ["error", { "maxSize": 4000 }]
    },
    "plugins": [
      "react",
      "jest",
      "flowtype"
    ],
    "globals": {
      "window": false,
      "document": false
    },
    "settings": {
      "flowtype": {
        "onlyFilesWithFlowAnnotation": true
      }
    }
}
