/* BUTTON */

.btn {
    text-transform: uppercase;
    padding: 10px 8px;
    margin: 0 8px;
    border-radius: 1px;
    border: 1px solid rgba(0, 0, 0, 0);
    font-weight: var(--ap-font-weight-xxl);
    font-size: var(--ap-font-size-xs);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    transition: filter 0.1s ease-out;
}
.btn[disabled] {
    background-color: var(--ap-color-ui-grey-lightest);
    color: var(--ap-color-ui-grey-lighter);
    cursor: not-allowed;
}

.btn-primary {
    min-width: 104px;
    background-color: var(--ap-color-ui-green-light);
    color: var(--ap-color-ui-white);
}
.btn-primary.btn-disabled {
    color: var(--ap-color-ui-white);
    background-color: var(--ap-color-ui-grey-light);
}

.btn-primary:not(:disabled):not(.btn-disabled):active,
.btn-primary:not(:disabled):not(.btn-disabled):focus,
{
    background-color: var(--ap-color-ui-green-dark);
}

.btn-primary:not(:disabled):not(.btn-disabled):hover {
    background-color: var(--ap-color-ui-green-base);
}

.btn-primary-inverted {
    background-color: rgba(0, 0, 0, 0);
    color: var(--ap-color-ui-green-light);
}

.btn-secondary {
    color: var(--ap-color-ui-grey-darker);
}

.btn-secondary.btn-disabled {
    color: var(--ap-color-ui-grey-light);
    background: none;
}
.btn-secondary:not(:disabled):not(.btn-disabled):active,
.btn-secondary:not(:disabled):not(.btn-disabled):focus,
{
    color: var(--ap-color-ui-green-dark);
}

.btn-secondary:not(:disabled):not(.btn-disabled):hover {
    color: var(--ap-color-ui-green-light);
}

.btn-link {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    color: var(--ap-color-ui-green-light);
}

.btn-link[disabled] {
    color: #ccc;
    background-color: rgba(0, 0, 0, 0);
}

.btn-link:not(:disabled):not(.btn-disabled):hover {
    color: var(--ap-color-ui-green-dark);
}

.btn-secondary-inverted {
    background-color: rgba(0, 0, 0, 0);
    color: var(--ap-color-ui-grey-dark);
}

.btn-danger {
    color: var(--ap-color-ui-red-alert);
}
.btn-danger:not(:disabled):not(.btn-disabled):hover {
    color: #C34141;
}


.btn-danger-inverted {
    background-color: rgba(0, 0, 0, 0);
    color: var(--ap-color-ui-red-alert);
}

.btn-disabled-inverted,
.btn-disabled-inverted[disabled] {
    background-color: rgba(0, 0, 0, 0);
    color: var(--ap-color-ui-grey-lighter);
}

.btn-sm {
    font-size: var(--font-size-sm);
}

.btn-xs {
    font-size: var(--ap-font-size-xs);
}
